@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    /* FONTS */
    --font-sans: 'Inter';
    --font-jost: 'Jost';

    /* COLORS */
    --color-text-base: #111;
    --color-background: #f5f5f5;
    --color-primary: #123;
    --color-secondary: #245;
    --color-accent: #69e;
}